@import "variable.css";

header {
    background-color: var(--blue-color);
    height: 10vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#sous-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-left: 1%;
    margin-right: 1%;
}
#sous-header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    min-height: 60px;
}
#menu_burger {
    display: block;
    height: 50%;
    margin-right: 10%;
}
#login {
    display: block;
    height: 70%;
    margin-right: 2%;
}