.vertical-menu {
    width: 200px;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #04AA6D;
    color: white;
}

menu{
    position: fixed;
    padding: 0;
    top: 10vh;
    margin: 0;
    left: 0;
    animation: 1s;
}

.hidden{
    left: -100%;
    animation: 1s;
}