.vertical-menu {
    width: 200px;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #04AA6D;
    color: white;
}

menu{
    position: fixed;
    padding: 0;
    top: 10vh;
    margin: 0;
    left: 0;
    animation: 1s;
}

.hidden{
    left: -100%;
    animation: 1s;
}



#connexion{
    position: fixed;
    top: 15vh;
    padding: 2%;
    margin: 0;
    animation: 1s;
    background-color: gray;
    border: 1px solid black;
    border-radius: 5%;
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
#connexion > aside {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
#connexion > aside > form > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}